body{
    background:linear-gradient(to bottom right, rgb(2, 62, 77) 0%,rgb(0, 119, 255) 100%); 
    margin-top:0px;
}
.heading{
    font-size:23px;
    width:80%;
}
#camera,#result{
    width:350px;
    height:300px;
    border:2px solid rgb(255, 255, 255);
}
#object_name,#accuracy_object{
    font-size:20px;
    color:rgb(238, 255, 0);
}